<h1><a href="<%= @blog.name %>"><%= @blog.name %></a></h1>
<h3><a href="<%= root_path %>">Go Home</a></h3>
<% if @blog.posts.present? %>
		<table class="table center">
			<tr>
				<th class="col-xs-1">Rank</th>
				<th class="col-xs-1">Notes</th>
				<th class="col-xs-9">Post</th>
				<th class="col-xs-1">Date</th>
			</tr>
			<% @blog.posts.each_with_index do |post, index|%>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= post["note_count"] %></td>
					  <td>
					  
					  
					  		<% if post["type"] == "photo" %>
					  			<%= content_tag :a, href: post["short_url"], target: "_blank" do %>
					  				<%= content_tag :img, nil, src: post["photos"][0]["alt_sizes"][2]["url"] %>
					  			<% end %>
					  		<% elsif post["type"] =="text" %>

						  		<%= content_tag :p do %>
						  			<% if post["title"].present? %>
						  				<%= content_tag :a, href: post["short_url"], target: "_blank" do %>
						  					<%= post["title"] %>
					  					<% end %>
					  				<% else %>
						  				<%= post["body"].html_safe %>
						  				<%= content_tag :a, "link to text post", href: post["short_url"], target: "_blank" %>
					  				<% end %>
					  			<% end %>
					  		<% elsif post["type"] == "video" %>
					  			<% if post["thumbnail_url"].present? %>
					  				<%= content_tag :a, href: post["short_url"], target: "_blank" do %>
					  					<%= content_tag :img, nil, src: post["thumbnail_url"] %>
				  					<% end %>
				  				<% else %>
					  				<%= post["caption"].html_safe %>
					  				<%= content_tag :a, "link to video post", href: post["short_url"], target: "_blank" %>
				  				<% end %>
					  		<% elsif post["type"] == "audio" %>
					  			<% if post["thumbnail_url"].present? %>
					  				<%= content_tag :a, href: post["short_url"], target: "_blank" do %>
					  					<%= content_tag :img, nil, src: post["album_art"] %>
					  				<% end %>
				  				<% else %>
					  				<%= post["caption"].html_safe %>
					  				<%= content_tag :a, "link to audio post", href: post["short_url"], target: "_blank" %>
				  				<% end %>
				  			<% elsif post["type"] == "quote" %>
				  				<%= content_tag :a, href: post["short_url"], target: "_blank" do %>
				  				 	<%= content_tag :p, post["text"] %>
				  				 <% end %>
				  			 <% elsif post["type"] == "link" %>
				  			 	<%= content_tag :a, href: post["short_url"], target: "_blank" do %>
				  			 		<%= content_tag :p, post["title"] %>
				  			 	<% end %>
				  			 <% elsif post["type"] == "chat" %>
					  			 	<% if post["title"].present? %>
							  				<%= content_tag :h5, post["title"] %>
				  					<% end %>
				  					<%= content_tag :p, post["body"].html_safe %>
				  					<%= content_tag :a, "link to chat post", href: post["short_url"], target: "_blank" %>
				  			 <% elsif post["type"] == "answer" %>
				  			 	<%= content_tag :h5, post["question"] %>
				  			 	<%= content_tag :p, post["answer"].html_safe %>
				  			 	<%= content_tag :a, "link to answer post", href: post["short_url"], target: "_blank" %>
					  		<% end %>
						
					  </td>
					 <td><%= Time.at(post["timestamp"]).strftime('%m/%d/%Y') %></td>
				</tr>
			<% end %>
		</table>
	<% end %>