<script type="text/javascript">
	$( document ).ready (function() {

		$("#structure_standard").click(function (){
			$ ("#search").prop("type", "text");
			$ ("#search").prop("placeholder", "e.g. willitbeard");

		});

		$("#structure_custom").click(function (){
			$ ("#search").prop("type", "url");
			$ ("#search").prop("placeholder", "http://willitbeard.tumblr.com");
		});


		//Makes sure textbox type is set properly depending on last search
		if ($("#structure_standard").prop("checked")){
			$("#structure_standard").click();
		}
		else{
			$("#structure_custom").click();
		}

	  $('[data-toggle="popover"]').popover()

	  
	});
</script>


	<div class="page-header"><h2 class="center">Enter either the name or URL of a Tumblr blog to retrieve its top posts</h2></div>

	<%= form_tag("/", method: "get") do %>
	  <%= text_field_tag(:search, nil, :placeholder => "e.g. willitbeard", :inputmode => "url", class: "col-xs-12")%>

	  <div class: "col-xs-6">
	  <%= label_tag(:standard, "Name") %>
	  <%= radio_button_tag(:structure, "standard", true) %>

	  	<%= label_tag(:custom, "URL") %><a><span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover" data-content="Use this for blogs that don't end with .tumblr.com" data-trigger="hover click"></span></a>
	  	<%= radio_button_tag(:structure, "custom", @uri_structure == "custom") %>
	  	 </div>
		<div class: "col-xs-3 col-lg-3">
		<%= label_tag(:reblogs, "Reblogs?") %>
	  <%= check_box_tag(:reblogs, 1, @show_reblogs) %>
	   </div>
		
		


	  <%= submit_tag "Search", class: "btn btn-lg btn-primary col-xs-12", id: "search-button" %>
	<% end %>

	
		<table class="table center">
			<tr>
				<th class="col-xs-1">Rank</th>
				<th class="col-xs-1">Notes</th>
				<th class="col-xs-9">Image</th>
				<th class="col-xs-1">Date</th>
			</tr>
			<% @finalArray.each_with_index do |post, index|%>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= post["note_count"] %></td>
					  <td>
					  	
						  <a href='<%= post["short_url"] %>' target="_blank" class="thumbnail">
						   <img src="<%= post["photos"][0]["alt_sizes"][2]["url"] %>">
						  </a>
						  
					  </td>
					 <td><%= Time.at(post["timestamp"]).strftime('%m/%d/%Y') %></td>
				</tr>
			<% end %>
		</table>

