<script type="text/javascript">
	$( document ).ready (function() {

		$("#name-radio").click(function (){
			$ ("#search").prop("placeholder", "willitbeard");
			$("#tumblr-addon").show();
			
		});

		$("#url-radio").click(function (){
			$ ("#search").prop("placeholder", "haiku.nytimes.com");
			$("#tumblr-addon").hide();
		});


		//Makes sure textbox type is set properly depending on last search
		if ($("#name-radio").prop("checked")){
			$("#name-radio").click();
		}
		else{
			$("#url-radio").click();
		}

	  $('[data-toggle="popover"]').popover()

	  
	});
</script>


	<div class="page-header"><h2 class="center">Find your most popular Tumblr posts</br><small>Enter either the name or URL of a Tumblr blog to retrieve its top posts</small></h2></div>

	<%= form_tag("/", method: "get") do %>
	<div class="form-group">
		<div class="input-group">
		
			<div class="input-group-addon">http://</div>
		  <%= text_field_tag(:search, nil, :placeholder => "e.g. willitbeard", class: "form-control")%>
		  
			<div id="tumblr-addon" class="input-group-addon">.tumblr.com</div>
		
		</div>
	  </div>

	  <div class= "form-group">

	  <label class="radio-inline">
	  <input type="radio" id="name-radio" name="structure" value="standard" checked="checked"> Name
	  </label>

	  <label class="radio-inline">
	  <input type="radio" id="url-radio" name="structure" value="custom" 
	  <% if @uri_structure == "custom" %>
	   checked="checked"
	   <%end %>

	  >
	  URL
	  <a tabindex="0" role="button" data-toggle="popover" data-content="Use this for blogs that don't end with .tumblr.com" data-trigger="hover focus" data-placement="bottom"><span id="url-question" class="glyphicon glyphicon-question-sign" aria-hidden="true" ></span></a>
	  </label>

	<label class="checkbox-inline">
	  <input type="checkbox" name="reblogs" value="1"
	  <% if @show_reblogs %>
	   checked="checked"
	   <%end %>
	   > Reblogs?
	  </label>
</div>
<div class="form-group">

	  <%= select_tag :type, options_for_select([['Photo', 'photo'], ['All', 'all'], ['Text', 'text'] ,['Audio', 'audio'], ['Video', 'video']]), :selected => @post_type, class: "form-control" %>
	  
	
</div>
		<button type="submit" class="btn btn-lg btn-primary col-xs-12">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>
	 	<% end %>
		<% if @finalArray.present? %>
		<table class="table center">
			<tr>
				<th class="col-xs-1">Rank</th>
				<th class="col-xs-1">Notes</th>
				<th class="col-xs-9">Post</th>
				<th class="col-xs-1">Date</th>
			</tr>
			<% @finalArray.each_with_index do |post, index|%>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= post["note_count"] %></td>
					  <td>
					  
					  
					  		<% if post["type"] == "photo" %>
					  		<%= content_tag :a, href: post["short_url"], class: "thumbnail", target: "_blank" do %>
					  			<%= content_tag :img, nil, src: post["photos"][0]["alt_sizes"][2]["url"] %>
					  			<% end %>
					  		<% elsif post["type"] =="text" %>
					  		<%= content_tag :a, href: post["short_url"], class: "thumbnail", target: "_blank" do %>
						  		<%= content_tag :p do %>
						  			<% if post["title"].present? %>
						  				<%= post["title"] %>
					  				<% else %>
						  				<%= "no title" %>
					  				<% end %>
					  			<% end %>
					  			<% end %>
					  		<% elsif post["type"] == "video" %>
					  			<%= content_tag :a, href: post["short_url"], class: "thumbnail", target: "_blank" do%>
						  			<%= content_tag :img, nil, src: post["thumbnail_url"] %>
						  		<% end %>
					  		<% elsif post["type"] == "audio" %>
					  		<%= content_tag :a, "Go to Post", href: post["short_url"], class: "thumbnail", target: "_blank" do%>
					  			<%= content_tag :img, nil, src: post["album_art"] %>
					  			<% end %>
					  		<% end %>
						
						  
					  </td>
					 <td><%= Time.at(post["timestamp"]).strftime('%m/%d/%Y') %></td>
				</tr>
			<% end %>
		</table>
		<% end %>

