<div class="center">
	<h2>Enter a Tumblr URL below to get top 30 images</h2>

	<%= form_tag("/", method: "get") do %>
	  <%= text_field_tag(:search, nil, :placeholder => "http://example.tumblr.com", :inputmode => "url")%>
	  <%= submit_tag "Search", class: "btn btn-lg btn-primary" %>
	<% end %>

	
		<table class="table">
			<tr>
				<th class="col-xs-1">Rank</th>
				<th class="col-xs-1">Notes</th>
				<th class="col-xs-6">Image</th>
				<th class="col-xs-1">Date</th>
			</tr>
			<% @finalArray.each_with_index do |post, index|%>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= post["note_count"] %></td>
					  <td>
						  <a href='<%= post["short_url"] %>' target="_blank">
						  	<img class="img-responsive" src="<%= post["photos"][0]["alt_sizes"][0]["url"] %>">
						  </a>
					  </td>
					 <td><%= Time.at(post["timestamp"]).strftime('%m/%d/%Y') %></td>
				</tr>
			<% end %>
		</table>

</div>