<!DOCTYPE html>
<html>
<head>
  <title>Get Top 30 Tumblr Posts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--For Bootstrap mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="container">
<%= yield %>
</div>
</body>
</html>
