<!DOCTYPE html>
<html>
<head>
  <title>Get Top 30 Tumblr Posts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--For Bootstrap mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="container">
<%= yield %>
</div>
</body>

<footer class="footer">
  <div class="container">
    <p class="center"><a href="https://github.com/a-parallelogram/tumblrtop30" target="_blank" class="btn btn-default" role="button">Check me out on GitHub!<%= image_tag "Octocat.png", width: "30px", height: "30px", alt: ":Octocat:" %></a></p>
    <p class="center small">This application uses the Tumblr application programming interface but is not endorsed or certified by Tumblr, Inc. All of the Tumblr logos and trademarks displayed on this application are the property of Tumblr, Inc.</p>
  </div>
</footer>
</html>
